
[Desktop Entry]
Name=3D Audio Producer
StartupWMClass=3D-Audio-Producer
Comment=Produce 3D audio
GenericName=Audio Editor
Exec=3daudio-producer
Icon=3d-audio-producer
Type=Application
Categories=Audio;
MimeType=text/xml;application/xhtml+xml;application/xml;
Keywords=3D;Audio;Editor;Binaural
